<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from nest-frontend-v6.netlify.app/page-account by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 08:32:12 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>My Apple Space</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.edigitalagency.com.au/wp-content/uploads/Apple-logo-white-png.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user-assets/css/main5103.css?v=6.0" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>

</head>

<body>
    <%- include('../partials/user/navbar.ejs') %>

    <!--End header-->
    <main class="main pages">
       
       
                                    <div id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card " style="align-items: center;">
                                            <div class="card-header">
                                                <h5>Edit Address </h5>
                                            </div>
                                            <div class="card-body col-md-6" >    
                                        

                                                <%if(locals.address){%>
                                                    
                                                    <form method="post" name="enq" onsubmit="return validateForm()">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label>Full Name <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="name" id="name" value="<%=address[0].name%>" type="text" />
                                                                <div id="name-error" class="error"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Mobile Number <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="mobile" id="mobile" value="<%=address[0].mobile%>" />
                                                                <div id="mobile-error" class="error"></div>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>House Name <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="houseName" id="houseName" type="text" value="<%=address[0].houseName%>" />
                                                                <div id="houseName-error" class="error"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Street <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="street" id="street" type="text" value="<%=address[0].street%>" />
                                                                <div id="street-error" class="error"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>City <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="city" id="city" type="text" value="<%=address[0].city%>" />
                                                                <div id="city-error" class="error"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>State <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="state" id="state" type="text" value="<%=address[0].state%>" />
                                                                <div id="state-error" class="error"></div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Pin code <span class="required">*</span></label>
                                                                <input required="" class="form-control" name="pincode" id="pincode" type="text" value="<%=address[0].pincode%>" />
                                                                <div id="pincode-error" class="error"></div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Address</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <script>
                                                        function validateForm() {
                                                            var name = document.getElementById('name').value;
                                                            var mobile = document.getElementById('mobile').value;
                                                            var houseName = document.getElementById('houseName').value;
                                                            var street = document.getElementById('street').value;
                                                            var city = document.getElementById('city').value;
                                                            var state = document.getElementById('state').value;
                                                            var pincode = document.getElementById('pincode').value;
                                                    
                                                            var namePattern = /^[a-zA-Z\s]+$/;

                                                            var mobilePattern = /^[0-9]+$/;
                                                            var alphaPattern = /^[a-zA-Z]+$/;
                                                            var pincodePattern = /^[0-9]+$/;
                                                    
                                                            var isValid = true;
                                                    
                                                            if (!namePattern.test(name)) {
                                                                document.getElementById('name-error').innerHTML = 'Name must contain only alphabets';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('name-error').innerHTML = '';
                                                            }
                                                    
                                                            if (!mobilePattern.test(mobile)) {
                                                                document.getElementById('mobile-error').innerHTML = 'Mobile number must contain only numbers';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('mobile-error').innerHTML = '';
                                                            }
                                                    
                                                            if (!alphaPattern.test(houseName)) {
                                                                document.getElementById('houseName-error').innerHTML = 'House name must contain only alphabets';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('houseName-error').innerHTML = '';
                                                            }
                                                    
                                                            if (!alphaPattern.test(street)) {
                                                                document.getElementById('street-error').innerHTML = 'Street must contain only alphabets';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('street-error').innerHTML = '';
                                                            }
                                                    
                                                            if (!alphaPattern.test(city)) {
                                                                document.getElementById('city-error').innerHTML = 'City must contain only alphabets';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('city-error').innerHTML = '';
                                                            }
                                                    
                                                            if (!alphaPattern.test(state)) {
                                                                document.getElementById('state-error').innerHTML = 'State must contain only alphabets';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('state-error').innerHTML = '';
                                                            }
                                                    
                                                            if (!pincodePattern.test(pincode)) {
                                                                document.getElementById('pincode-error').innerHTML = 'Pin code must contain only numbers';
                                                                isValid = false;
                                                            } else {
                                                                document.getElementById('pincode-error').innerHTML = '';
                                                            }
                                                    
                                                            return isValid;
                                                        }
                                                    </script>
                                                    
                                                <%}%>


                                            </div>
                                        </div>
                                    </div>
                                
    </main>
    <%- include('../layouts/user/footer.ejs') %>

  
    <!-- Vendor JS-->
    <script src="user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="user-assets/js/plugins/slick.js"></script>
    <script src="user-assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="user-assets/js/plugins/wow.js"></script>
    <script src="user-assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="user-assets/js/plugins/magnific-popup.js"></script>
    <script src="user-assets/js/plugins/select2.min.js"></script>
    <script src="user-assets/js/plugins/waypoints.js"></script>
    <script src="user-assets/js/plugins/counterup.js"></script>
    <script src="user-assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="user-assets/js/plugins/images-loaded.js"></script>
    <script src="user-assets/js/plugins/isotope.js"></script>
    <script src="user-assets/js/plugins/scrollup.js"></script>
    <script src="user-assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="user-assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="user-assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="user-assets/js/main5103.js?v=6.0"></script>
    <script src="user-assets/js/shop5103.js?v=6.0"></script>
</body>


<!-- Mirrored from nest-frontend-v6.netlify.app/page-account by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 08:32:13 GMT -->
</html>